@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

@font-face {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
}